<h2>Add a Song</h2>

Title: {{input type="text" valueBinding="model.title"}}
Artist: {{input type="text" valueBinding="model.artist"}}
URL: {{input type="text" value="url"}}
Source: {{input type="text" value="source"}}
Location: {{input type="text" value="location"}}
<button {{action 'save'}}>Save</button>

