<h2>Add a Song</h2>

Title: {{input type="text" value="title"}}
Artist: {{input type="text" value="artist"}}
URL: {{input type="text" value="url"}}
Source: {{input type="text" value="source"}}
Location: {{input type="text" value="location"}}

