%h1
  = "Group #{@group.id}: #{@group.name}"

%div.membership-control
  = render "join_form"

%div
  %b
    members:
  %ul
  - @group.members.each do |member|
    %li
      = link_to member.email, user_path(member)