<h4>Dis be da player</h4>
{{#if player.isPaused}}
<button {{action 'play'}}>Play</button>
{{else}}
<button {{action 'pause'}}>Pause</button>
{{/if}}
{{currentSong.title}} - {{currentSong.artist}}<br>
{{#each sound in currentSong.sounds}}
{{sound.soundType}} - {{sound.location}}
{{/each}}
{{currentSound.soundType}} - {{currentSound.location}}

{{player.position}}

<div id="youtube-player"></div>
